﻿@model WebApplication2.Models.Account

@{
    Layout = null;
}
<form asp-controller="Profile" asp-action="Create">
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Amount)
            </td>
            <td>
                <input asp-for="Amount"/>
                <span asp-validation-for="Amount"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Date)
            </td>
            <td>
                <input asp-for="Date"/>
                <span asp-validation-for="Date"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Remark)
            </td>
            <td>
                <input asp-for="Remark"/>
                <span asp-validation-for="Remark"></span>
            </td>
        </tr>
    </table>
    <button>Submit</button>
</form>