﻿@model WebApplication2.ViewModels.AccountViewModel

<div>
    <partial name="Create" model="Model.Data"/>
</div>

@if (Model.DataList.Count != 0)
{
    <table style="border-collapse:collapse;">
        @foreach (var item in Model.DataList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(x => x.DataList[0].Amount)
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(x => x.DataList[0].Date)
                </td>
                <td>
                    @item.Date
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(x => x.DataList[0].Remark)
                </td>
                <td>
                    @item.Remark
                </td>
            </tr>
        }
    </table>
}

