﻿@model WebApplication2.Controllers.Order

@{
    ViewData["Title"] = "Home Page";
    var myText = "abc";
}

<div class="text-center">
    @String.Empty<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@Model.name

<partial name="_MyProfile" model="Model.MyProduct"/>

@Html.TextBoxFor(x => x.name)
<input asp-for="name"/>

@myText
@{
    <text>12345</text>
    foreach (var num in new List<int>{1,2})
    {
        <text>@num</text>
    }
}

<form asp-controller="Home" asp-action="Save">
    <input asp-for="name"/>
    <span asp-validation-for="name"></span>
    <button>Submit Lo</button>
</form>